.edit-loadout-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #c19a6b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.item-select {
    display: flex;
    justify-content: center;
}

.item-select select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.item-select select:focus {
    border-color: #c19a6b;
    outline: none;
}

.item-select option {
    padding: 10px;
}

.edit-loadout-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c19a6b;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a57a56;
}

.save-button {
    background-color: #020202;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #660f09;
}

.save-button:hover {
    background-color: rgb(14, 14, 177);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #c19a6b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}